body {
    background-color: #222;
}
h1, h2 {
    font-family: 'Roboto', Helvetica, "Open Sans", Arial, sans-serif;
    font-weight: lighter;
}
button:focus {
    outline: none!important;
}
.census-tract {
    font-size: 16pt;
    color: #555;
}
.census-tract i {
    color: #f241a8;
}
.counter-block .fa {
    font-size: 30pt;
}
.counter-block .counter-icon {
    margin-top: 20px;
}
.content-2-7 .counter {
    font-size: 20pt;
    font-family: roboto;
    font-weight: 300;
}
.content-3-8 .underlined-title hr {
    width: 20%;
    border-top: 3px solid #f241a8;
}
.content-block {
    background-color: transparent;
}
#container {
    position: relative;
}
#container canvas, #overlay {
    position: absolute;
}
#container #overlay {
    z-index: 1000;
    width: 100%;
}
#container canvas {
    z-index: 0;
}
.category {
    font-size: 36pt;
}
.header {
    padding-bottom: 0;
}
.counter {
    font-size: 20px;
    color: #555;
}
.activated {
    color: #f241a8;
}
.counter-block {
    border: 2px solid #f241a8;
    border-radius: 10px;
    margin-top: 30px;
}
.underlined-title .subtitle {
    font-weight: 300;
    color: #888;
    margin-bottom: 10px;
}

.counter {
    font-weight: normal;
}

.showbtn {
    border: 2px solid #f241a8;
    background: transparent;
    color: #666;
    margin-top: 5px;
}
